html,
body {
  height: 100%;
  
   --color-primary: #009579;
   --color-primary-dark: #007f67;
   --color-secondary: #267af8;
   --color-error: #cc3333;
   --color-success: #4bb544;
   --border-radius: 7px;
   
 
   margin: 0;
   height: 100vh;
   align-items: center;
   font-family: 'Comfortaa', cursive;
   font-size: 18px;
   background: url("/img/swquotesBackgound.jpg");
   background-size: cover;
   }

body {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto 2fr;
  grid-template-areas:
    "header header header"
    "add-quotes update-quote delete-quote"
    "quotes quotes quotes";
  gap: 1rem;
  margin: 0;
  padding: 1rem;
  background-color: var(--color-primary);
  
}

[data-position="header"] {
  grid-area: header;
}

[data-position="add-quotes"] {
  grid-area: add-quotes;
}

[data-position="update-quotes"] {
  grid-area: update-quotes;
}

[data-position="delete-quotes"] {
  grid-area: delete-quotes;
}

[data-position="quotes"] {
  grid-area: quotes;
  overflow: scroll;
}

[data-position] {
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
  padding: 1rem;
  box-shadow: 0 0 5px 0 rgba(221, 213, 213, 0.5);
}

button {
 border-width: 2px;
 border-radius: var(--border-radius);
 background-color: var(--color-secondary);
 color: #fff;
 border-style: solid;
 border-image: linear-gradient(to right, darkblue, darkorchid) 1;
}

form {
 border-radius: var(--border-radius);
}